.header-container{
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(15, 14, 15);
    color: rgb(252, 252, 247);
}
.carousel{
    height: 500px;
    width: 300px;
}