.btn{
    border :1px solid rgb(231, 222, 222);
    color: rgb(243, 241, 237);
    background: rgb(66, 64, 64);
}

.img-fluid{
    height:250px;
    width: 100%;
}
.card-body{
    height: 300px;
    text-align: center;
}

.card {
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.far{
    color: blanchedalmond;
}
